{% extends "base.html" %}

{% block body %}

{% module NaviModule('deals') %}

<div id="wrapper">
    <div id="page-wrapper">
        <form action="preview" method="get">
            <input type="hidden" id="ordered_items" name="ordered_items" value=""/>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Content List</h2>

                        <div class="table-responsive">
                            <table id="sortable" class="table table-hover table-striped table-ordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Title</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for deal in deals %}
                                {% module DealRowModule(deal) %}
                                {% end %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
    </div>
    <input name="Submit" value="Submit" type="submit" style="float: right;"/>
    </form>
    <!-- /#page-wrapper -->
    <div style="clear:both;"></div>
</div>

<!-- /#wrapper -->
{% end %}
